.summary-stat {
  height: 128px;
  background: #FFFFFF;
  border-radius: 12px;
  display: flex;
}

.num-card {
  width: 231px;
  border-right: 1px solid #DEDEDE;
  padding: 24px;
}

.num-card_title {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #A4A4A4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.num-card_title .icon {
  width: 11px;
  height: 11px;
  border: 1.5px solid #A9A9A9;
  border-radius: 3px;
  transform: rotate(45deg);
  position: relative;
}

.num-card_title .icon svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.num-card_values {
  margin-top: 25px;
  display: flex;
  align-items: flex-end;
}

.num-card_values__main {
  font-size: 40px;
  line-height: 40px;
  margin-right: 10px;
}
.num-card_values__change {
  width: 44px;
  height: 16px;
  border-radius: 44px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 2px 6px;
  display: flex;
  align-items: center;
  column-gap: 2px;
  margin-bottom: 5px;
}
.num-card_values__change.positive {
  background: #E7F8EE;
  color: #19CE61;
}
.num-card_values__change.negative {
  background: #FFEBEB;
  color: #E33F3F;
}
.num-card_values__btn {
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #5193F5;
  margin-bottom: 5px;
}
.graph-card {
  flex: 1;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 8px;
  padding: 20px 20px 14px;
}
.graph-card_header_filter {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #2F2F2F;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.graph-card_header_link, .graph-card_header-legend {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}
.graph-card_header_link {
  color: #5193F5;
}
.graph-card_header-legend {
  color: #2F2F2F;
}
