.contained {
	width: calc(1280 / 1440 * 100%);
	margin: 0 auto;
}

.comp-body {
	background: #ffffff;
	border-radius: 12px;
}

.mb-16 {
	margin-bottom: 16px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.d-flex {
	display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.col-gap-16 {
	column-gap: 16px;
}

.row-gap-16 {
	row-gap: 16px;
}

.flex-grow-1 {
	flex-grow: 1;
}

.comp-header-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #2f2f2f;
}

.comp-header-filter-group {
	display: flex;
	align-items: center;
	column-gap: 30px;
}

.comp-header-filter {
	height: 20px;
	font-weight: 500;
	font-size: 12px;
	text-align: right;
	color: #797979;
	display: flex;
	align-items: center;
	column-gap: 8px;
}

.comp-header-filter-dark {
	color: #1b1b1b;
}

.font-black {
	color: black;
}

.selected-filter-pill {
	width: 186px;
	height: 32px;
	background: #e7e7e7;
	border-radius: 8px;
	padding: 6px 12px;
	line-height: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 500;
	font-size: 12px;
}

.icon-lite {
	color: #393939;
	font-size: large;
}

.filter-below-header {
	display: flex;
	justify-content: space-between;
}

.filter-pill-nogap-group {
	height: 32px;
	background: #ffffff;
	border: 1px solid #efefef;
	border-radius: 12px;
	display: flex;
	align-items: center;
	padding: 0 16px;
	column-gap: 18px;
}

.filter-pill-nogap-group-item {
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	color: #606060;
}

.filter-pill-nogap-group-item.selected {
  height: 100%;
  padding: 8px 12px;
  background-color: #232323;
  color: #FFF;
  border-radius: 12px;
}
